[submodule "yocto/poky"]
	path = yocto/poky
	url = git://git.yoctoproject.org/poky
	branch = kirkstone
[submodule "lesson_2/u-boot"]
	path = lesson_2/u-boot
	url = git@openbeagle.org:beagleboard/u-boot.git
	commit = baca7b469d6bbc2e376ca134a25187ed06f6d2d1
