# Ignore everything in the build directory
yocto_build/*

# Do not ignore the conf directory
!yocto_build/conf/

# Ignore everything in conf except specific files
yocto_build/conf/*
!yocto_build/conf/local.conf
!yocto_build/conf/bblayers.conf
!yocto_build/conf/*.conf

!yocto/poky/meta-ti
!yocto/poky/meta-

yocto_build/conf/bblayers.conf

# Ignore everything in the bin directory
build/*
!build/.gitkeep
bin/*
!bin/.gitkeep

lesson_1/toolchain/gcc-linaro-14.0.0-2023.06-x86_64_arm-linux-gnueabihf